movie-item-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
  z-index: 20;

  .container {
    padding: 0 30px;
  }

  header {
    height: 5em;
    margin-bottom: 4em;

    .exit-btn-wrapper {
      padding-top: 1.25em;
    }
  }

  h3.suggestion {
    display: inline;
  }

  .mals {
    .mal-item {
      display: inline-block;
      width: 200px;

      .mal-title {
        cursor: pointer;
      }

      .mal-img {
        border-radius: 5px;
        width: 130px;
        height: 150px;
        cursor: pointer;
        box-shadow: 4px 4px 25px -4px rgba(255, 255, 255, 0.75);
      }
    }
  }
}
