<div class="container">
    <header class="spaced-container">
        <div class="header-text">
            <h1>{{movie.title}}</h1>
        </div>
        <div class="exit-btn-wrapper">
            <button (click)="unclickMovie.emit()">Close</button>
        </div>
    </header>
    <movie-may-likes #maylikez></movie-may-likes>
</div>
