movies {
  text-align: center;

  .informer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6D829E;
    color: #FFF;
    left: 0;
    height: 1.2em;
    text-align: center;
    font-size: 30px;
    z-index: 30;
    transition: transform 1s ease-out;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0);
    }
  }
}
