<div [ngClass]="{active: message}" class="informer"><span>{{message}}</span></div>
<div>
    <h2>This is a Movie/Series mini-feature, Enter a movie or a series title to the text input below</h2>
</div>
<movie-item-popup
    *ngIf="currentMovie !== null"
    (queryMovie)="queryEvent($event)"
    (unclickMovie)="clickedMovieEvent(null)"
    [movie]="currentMovie">
</movie-item-popup>
<movie-form (queryEvent)="queryEvent($event)"></movie-form>
<movie-stats [movies]="movies"></movie-stats>
<movie-item-list (clickedMovie)="clickedMovieEvent($event)"></movie-item-list>
