movie-stats {
  display: inline-block;
  width: 100%;

  .domain {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
  }

  .tick line {
    stroke: #000;
  }

  rect.value-rect {
    stroke: #000;
  }

  rect.legend-container {
    fill: none;
    stroke: black;
  }

  rect.legend-item {
    stroke: black;
  }

  svg {
    display: block;
    margin: 5% auto;
  }

  .info {
    text-anchor: middle;
    opacity: .5;
    font-size: 1.3em;
  }

  .value {
    font-size: 2.5em;
    text-anchor: end;
  }

  .title {
    text-anchor: start;
    font-size: 2.0em;
  }
}
