tictactoe {
  .tic-wrapper {
    text-align: center;
  }

  .tic-table-container {
    justify-content: center;
    display: flex;
  }

  .picker-btn {
    height: 2.5em;
    width: 2.5em;
  }

  .reset-btn {
    margin: 0 0 3em;
  }

  .tic-table {
    $cube-size: 120px;

    margin: 3em 0 0;

    td {
      height: $cube-size;
      width: $cube-size;
      background-color: royalblue;
      text-align: center;
      border: 2px solid;
      cursor: pointer;
      border-radius: 5%;
      vertical-align: super;
      font-size: 5.5em;

      &.disabled {
        pointer-events: none;
      }

      &.ended {
        background-color: #DB245F;
      }
    }
  }
}
