movie-may-likes {
  .node {
    fill: #ccc;
    stroke: #000;
    stroke-width: 2px;
  }

  .link {
    stroke: #777;
    stroke-width: 2px;
  }

  .values-container .value-item {
    display: inline;

    input {
      width: 75px;

      &:disabled {
        background-color: #1d1c1c;
        color: #ec7d10;
      }
    }
  }

  .graph-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
  }

  .tooltip {
    position: absolute;
    background-color: #00bcd4;
    border: 5px solid #000;
    transform: translate(-50%, 65%);
    padding: 10px 0 0 0;
    border-radius: 5px;
    box-shadow: inset 20px 20px 30px -20px rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    height: 90px;
    width: 120px;

    .tip-template .info-row {
      margin: 0;

      span {
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
      }
    }
  }

  .tooltip:after, .tooltip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .tooltip:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgba(104, 232, 249, 0.8);
    border-width: 10px;
    margin-left: -10px;
  }

  .tooltip:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #000;
    border-width: 16px;
    margin-left: -16px;
  }
}
