<div #stillloading class="loader"><h1>FETCHING DATA</h1></div>

<div #valuesmixer class="spaced-container">
    <div class="values-container">
        <div *ngFor="let value of valuesConfig" class="value-item">
            <label [attr.for]="value.id">{{value.text}}</label>
            <input [disabled]="disable(value.disableOn)" id="{{value.id}}" [(ngModel)]="value.value" type="number"
            [attr.step]="value.step" placeholder=":D"/>
        </div>
        <button (click)="applySettings($event)">Apply</button>
        <button (click)="resetToDefaults()">Reset</button>
    </div>
    <div class="cfg-list">
        <select class="capitalize" (change)="onChangedConfig($event.target.value)"  name="option" title="Pick type of graph">
            <option *ngFor="let option of configList">{{option}}</option>
        </select>
    </div>
</div>

<div #maylikegraph class="graph-wrapper"></div>
