@font-face {
  font-family: 'contra';
  src: url("../assets/fonts/contra.ttf");
}

body, h1, h2, h3, span, p, button {
  font-family: 'contra';
}

body {
  background-color: #00bcd4;
  margin: 5em 0;
  transition: background-color 1s linear;

  &.stuck {
    overflow: hidden;
  }

  &.loading {
    animation: LOADING_BG_ANIM 1s infinite;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

input,
select,
button {
  $opacity: rgba(0, 0, 0, 0.75);

  height: 2.4em;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  border-color: black;
  box-shadow: 7px 7px 30px -5px $opacity;
  transition: box-shadow 0.4s linear;

  &:hover {
    box-shadow: 7px 7px 30px -5px rgba(255, 255, 255, 0.75);
  }
}

@keyframes LOADING_BG_ANIM {
  0%, 100% {
    background-color: #00bcd4;
  }

  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

input[type="button"]:not([disabled]),
input[type="submit"]:not([disabled]),
button:not([disabled]) {
  background: #68e8f9;
  cursor: pointer;
}

button:disabled {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #7d7373;
}

$icon-width: 25px;

.spaced-container {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

[class$="-icon"] {
  width: $icon-width;
  height: $icon-width;
  display: block;
}

.capitalize {
  text-transform: capitalize;
}

[hidden] {
  display: none !important;
}
