main {
  @keyframes COLOR_ANIM {
    0%, 50%,100% {
      text-shadow: 2px 2px #CED2DB;
    }

    25%, 75% {
      text-shadow: -2px -2px white;
    }
  }

  h2.hello {
    line-height: 0.5em;
    display: inline-block;
    animation: COLOR_ANIM 5s infinite;

    p {
      color: black;
      height: 1em;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
    }
  }

  .annoying {
    transition: all 0.2s linear;
    font-size: 1.5em;

    &.active, &:hover {
      font-size: .9em;
    }
  }

  .uber-btn {
    margin: 1em;
    height: 3em;
    width: 12em;
  }
}
