<div class="main-wrapper center">
    <h1>Yog's things and stuffz 😃!</h1>
    <h2 class="hello"><a href="https://bitbucket.org/yogsky/yogmdb" target="_blank">
        <p #code>View source code -></p>
        <p>Angular2 with TypeScript built with Webpack</p></a> 🤓
    </h2>
    <div>
        <h3>figured I'll play around with some ng2 before its release, <br> so go on and click on a yogful feature</h3>
        <button class="uber-btn" routerLink="/movies" routerLinkActive="active">YogMDB 🎥</button>
        <button class="uber-btn" routerLink="/tic" routerLinkActive="active">Tic-Tac-Yog 💩</button>
    </div>
</div>
