movie-form {
  $blood-color: #dc143c;
  $black-color: #000;

  form {
    margin: 5em 0;
  }

  .yog-list {
    margin: 0 0 2em;

    button {
      background-color: $blood-color;
      color: #fff;
      text-shadow: 2px 2px #000;
    }
  }

  .input-container {
    $input-width: 420px;

    position: relative;
    display: inline-block;

    input[name="title"] {
      width: $input-width;
      padding: 0 0.5em;
      font-size: 18px;
      display: block;
      border: none;
      border-bottom: 1px solid #757575;

      &:focus {
        outline: none;
      }
    }

    .bar {
      position: relative;
      display: block;
      width: $input-width;
    }

    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @keyframes inputHighlighter {
      from {
        background: #5264AE;
      }

      to {
        width: 0;
        background: transparent;
      }
    }

    .bar:before, .bar:after {
      content: '';
      height: 3px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $black-color;
      transition: 0.2s ease all;
    }

    .bar:before {
      left: 50%;
    }

    .bar:after {
      right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width: 50%;
    }

    input:focus ~ label, input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: $black-color;
    }

    label {
      color: #999;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 1em;
      top: 0.75em;
      transition: 0.2s ease all;
    }
  }
}
