<div class="yog-list">
    <p>If you want, Here's <button (click)="addYogHorrorList()"
        title="Click to add a few prefixed horror movies that Yogi selected">
        Yogi's Horror list
    </button>   , a list of my favorites, click if you dare!</p>
    <p>
     Just for you ! I wrote a nodejs scraper,
     for each title you'll enter will scrape the "You may also like" titles directly from imdb,
 </p>
</div>
<form name="queryForm">
    <div class="input-container">
        <input id="title-input" [(ngModel)]="query.text" required name="title">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label for="title-input">Enter a title, or comma seperated titles</label>
    </div>
    <select class="capitalize" [(ngModel)]="query.type" name="option" title="Pick type for the title/titles given">
        <option *ngFor="let option of queryTypes">{{option}}</option>
    </select>
    <button type="submit" (click)="onSubmit($event)" name="movie-title" title="Query the title/titles at the input" [disabled]="!query.text || query.text.length < 1">
        Query
    </button>
</form>
