movie-item {
  $box-length: 300px;
  $default-margin: 20px;
  $margins-in-row: $default-margin * 2;
  $black: #000;
  $opacity: rgba(0, 0, 0, 0.75);
  $white: #fff;

  background-image: url("../../../assets/img/no_poster_available.jpg");
  background-size: 100% 100%;
  border-radius: 5px;
  box-shadow: 7px 7px 30px -5px $opacity;
  width: 30%;
  height: $box-length;
  color: $white;
  text-align: center;
  overflow: hidden;
  margin: 2% 1% 1% 2%;
  position: relative;
  text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;

  .movie-item-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .delete-wrap {
    position: absolute;
    right: 25px;
    top: -30px;
    cursor: pointer;
    z-index: 10;
    transition: top 0.35s ease-in;

    object {
      pointer-events: none;
    }
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .ghost {
    line-height: 30px;
    transition: top 0.5s ease, opacity 1s ease;
    opacity: 0;
    height: 100%;
    position: absolute;
    cursor:pointer;
    overflow-y: scroll;
    border-radius: 5px;
    left: 0;
    top: 100%;
    background-color: rgba(158, 158, 158, 0.5);

    p {
      padding: 3em 1em 0;
      text-align: left;
    }
  }

  &:hover {
    .hover-hidden {
      display: none;
    }

    .ghost {
      top: 0;
      opacity: 1;
    }

    .delete-wrap {
      top: 25px;
      display: inherit;
    }
  }
}
