<div class="movie-item-wrapper" [style.background-image]="movie.sanitizedPosterStyle">
	<div class="content hover-hidden">
		<h2 class="movie-item-title">{{movie.title}}</h2>
		<span class="movie-item-year">{{movie.year}}</span>
		<h3>Rating: {{movie.imdbRating}}</h3>
		<p>{{movie.runtime}}, {{movie.genre}}, {{movie.released}}</p>
		<p>Directed by: {{movie.director}}</p>
	</div>
	<div class="ghost">
		<p>{{movie.plot}}</p>
	</div>
	<div class="delete-wrap" (click)="deleteMovie.emit()">
		<object type="image/svg+xml" data="/assets/svg/trash.svg" class="trash-icon"></object>
	</div>
</div>
