.movie-item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sorter-wrapper {
  margin-bottom: 2em;

  label {
    display: initial;
    font-size: 1.7em;
  }
}
