<div class="sorter-wrapper">
    <label for="sorter">Sort by: </label>
    <select id="sorter" (change)="movieSorterChange($event)" name="option">
        <option *ngFor="let option of movieService.sortKeys">{{option}}</option>
    </select>
</div>

<h4>Click a title to scrape its "You may also likes..." and see the data</h4>

<div class="movie-item-list">

    <movie-item *ngFor="let movie of movieService.movies"
        (deleteMovie)="delete(movie)"
        (click)="clickedMovie.emit(movie)"
        [movie]="movie">
    </movie-item>

</div>
